html{
    scroll-behavior: smooth;
}

body{
    background-color: red;
}

.navbar{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(131,13,157,1) 53%, rgba(171,30,144,1) 100%);
    color: white;
    text-decoration: none;
    box-shadow: 150px;
    font-weight: bold;
    font-size: 20px;
}

.navimagen{
    height: 60px;
    width: 130px;
}

.dropdown-item{
    font-weight: bold;
}

a{
    color: white;
}

a:hover{
    color: rgb(144, 14, 176);
}

a:active{
    color: white;
}

.colordrop:hover{
    color: rgb(144, 14, 176);
}

.boton{
    color: white;
    border: 1px solid black;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 10%;
    box-shadow: 0 0 1px #333;
}

.colordrop:focus{
    color: black;
}

.colordrop{
    color: white;
}

li a:hover{
    color: rgb(144, 14, 176);
}